.App {
  text-align: center;
  transition: background-color 0.5s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-grow: 1;
}

.cam-container {
  position: relative;
  width: 320px;
  height: 240px;
  margin-top: 20px;
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 0;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
