@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan bagian ini */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
}

canvas {
  touch-action: none;
  display: block; /* Mencegah scrollbar aneh */
}
